<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>This is a home page</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
      obcaecati hic modi reprehenderit ab odit porro autem illum quod quae
      officiis, earum, quibusdam possimus, delectus perferendis asperiores
      consequuntur nobis repellat.
    </p>
    <button>Click Me</button>
  </body>
</html>
